.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*.contain{
  width: 90%;
  margin: 0 auto;
}*/

.description{
  border: 1px black solid;
  padding: 5px;
  margin: 15px;
  text-align: center;
}
.desc , .btn{
  padding: 5px;
  margin: 15px;
}

.products{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 5px;
}

